* text=auto eol=lf

*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

.agents/                export-ignore
.ai/                    export-ignore
.cache/                 export-ignore
.claude/                export-ignore
.cursorrules            export-ignore
.editorconfig           export-ignore
.gitattributes          export-ignore
.github/                export-ignore
.gitignore              export-ignore
.idea/                  export-ignore
.windsurfrules          export-ignore
AGENTS.md               export-ignore
CLAUDE.md               export-ignore
CONTRIBUTING.md         export-ignore
GEMINI.md               export-ignore
RELEASE_NOTES_*.md      export-ignore
UPGRADING.md            export-ignore
index.php               export-ignore
phpstan-baseline.neon   export-ignore
phpstan.neon            export-ignore
phpunit.xml.dist        export-ignore
pint.json               export-ignore
rector.php              export-ignore
snap.php                export-ignore
testbench.yaml          export-ignore
tests/                  export-ignore
workbench/              export-ignore
