parameters:
	ignoreErrors:
		-
			rawMessage: 'Cannot call method notify() on mixed.'
			identifier: method.nonObject
			count: 1
			path: src/Stopwatch.php

		-
			rawMessage: 'Mixed variable in a `$notificationChannel->...()` can skip important errors. Make sure the type is known'
			identifier: typePerfect.noMixedMethodCaller
			count: 1
			path: src/Stopwatch.php
